<dl>
{{- range $index, $key := .Site.Params.Projects.Personal -}}
<dt><a href="{{ $key.url }}">{{ $key.name }}</a></dt>
<dd>{{ $key.description }}&nbsp
    {{- if $key.rogsgit -}}<a class="personal-projects" href="{{ $key.rogsgit }}"><img src="/cgit-small.png"/></a> {{- end -}}
    {{- if $key.gitlab -}}<a class="personal-projects" href="{{ $key.gitlab }}"><img src="/gitlab-small.png"/></a> {{- end -}}
    {{- if $key.github -}}<a class="personal-projects"href="{{ $key.github }}"><img class="github-img" src="/github-small.png"/></a> {{- end -}}
</dd>
{{- end -}}
</dl>
